#fireCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:black; 
    margin: 0%;
}
.calculator {
    background:rgb(255, 208, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow:  5px 5px 5px black;
}
#display {
    color: rgb(255, 208, 0);
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    background:black;
    border: none;
    padding: 10px;
    border-radius: 5px;
}   
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.btn {
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.red { background: black; color: white; }
.black { background: black; color: white; }
.gray { background: black; color: white; }
.green { background: black; color:white; }